body {
    background-color: #FFFFFF;
    color: #000000;
    font-family:  Verdana, Arial, Helvetica, sans-serif;
    font-size:  8pt;
}

a:link {
    color: #0000AA;
    text-decoration: none;
}

a:visited {
    color: DarkMagenta;
    text-decoration: none;
}

a:active {
    color: #FFFFFF
    text-decoration: none;
}

a:hover {
    color:  #000066;
}

p {
    font-size: 8pt;
    background-color:  #FFFFFF;
    color:  #000000;
    font-family:  Verdana, Arial, Helvetica, sans-serif;
}

h1 {
    font-size:  120%;
    font-weight:  bold;
    color:  #000000;
}

h2 {
    font-size:  115%;
    background-color: #FFFFFF;
    color:  #000000;
}

h3 {
    font-size:  110%;
    background-color: #FFFFFF;
    color:  #000000;
}

.invisible {
  font-size: 80%;
  color: #FFFFFF;
}

.mild {
    color: #7f7f7f;
}

.DesktopStatusBar{
  font-size: 80%;
  font-family: Arial, Verdana, Helvetica, sans-serif;
  color: #ff0000;
}

table {
    width: 100%;
    border: 0;
}

table.Masthead {
    background-color: #6699CC;
}

tr.Masthead td.PortalLogo {
    background-color: #6699CC;
    text-align: left;
    vertical-align: top;
}

table.Masthead tr.Masthead td.PortalTitle {
    text-align: left;
    vertical-align: middle;
}

h1.PortalTitle {
    background-color:  #6699CC;
    color: #FFFFFF;
    font-family: Arial, Verdana, Helvetica, sans-serif;
    font-size: 120%;
    font-weight: bold;
}


table.Masthead tr.Navhead {
    background-color: #6699CC;
}

table.Masthead tr.Navhead td.NavBar {
    color: #6699CC;
    font-size: 80%;
    font-weight: normal;
    text-align: right;
    vertical-align: bottom;
}

table.Masthead tr.Navhead td.NavBar a:link {
    color: #FFFFFF;
}

table.Masthead tr.Navhead td.NavBar a:visited {
    color: #FFFFFF;
}

table.Masthead tr.Navhead td.NavBar a:active {
    color: #FFFFFF;
}

table.Masthead tr.Navhead td.NavBar a:hover {
    color: #000066;
}
td.SideBar {
    width: 15%;
    vertical-align: top;
}

table.ActionBox {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    background-color: #6699CC;
}

table.ActionBox tr td {
    font-size: 70%;
}

table.ActionBox tr td.ActionTitle {
    font-weight: bold
}

table.ActionBox tr.GuestActions {
    background-color: #888888;
}

table.ActionBox tr.GuestActions td a:link {
    color: #660000;
    text-decoration:  none;
}

table.ActionBox tr.GuestActions td a:visited {
    color: #660000;
    text-decoration:  none;
}

table.ActionBox tr.GuestActions td a:active {
    color: #660000;
    text-decoration:  none;
}

table.ActionBox tr.GuestActions td a:hover {
    color: #000066;
    text-decoration:  none;
}

table.ActionBox tr.MemberActions {
    background-color: #6699CC;
}

table.ActionBox tr.MemberActions td {
    color: #000000;
}

table.ActionBox tr.MemberActions td a:link {
    color: #FFFFFF;
    text-decoration:  none;
}

table.ActionBox tr.MemberActions td a:visited {
    color: #FFFFFF;
    text-decoration:  none;
}

table.ActionBox tr.MemberActions td a:active{
    color: #FFFFFF;
    text-decoration:  none;
}

table.ActionBox tr.MemberActions td a:hover{
color: #000066;
    text-decoration:  none;
}

td.Desktop {
    vertical-align: top;
}

td.Desktop table tr {
    vertical-align: top;
}

div.Desktop p {
    font-size: 100%;
    margin-right:100pt;
    font-family: Verdana, Arial, Helvetica, sans-serif;
}

div.Desktop h1 {
    font-size: 120%;
    margin-right:100pt;
    font-family: Arial, Verdana, Helvetica, sans-serif;
}

div.AuthWarning {
    text-align: center;
    font-style: italic;
}

div.AuthWarning table {
    border: 0;
}

div.AuthWarning tr.Hot {
    color: #FF0000;
}

div.Error {
    color:  #FF0000;
}

p.DesktopStatusBar {
    font-size: 100%;
    font-family: Arial, Verdana, Helvetica, sans-serif;
    font-style: italic;
    font-weight: bold;
}

table.FormLayout {
    width: 80%;
}

table.FormLayout tr {
    vertical-align: top;
}

table.FormLayout tr th.TextField {
    vertical-align: top;
}

table.FormLayout tr td.TextField {
    vertical-align: top;
}

table.FormLayout th {
    text-align: right;
}

table.FormLayout dl.FieldHelp dd {
    font-size: 70%;
}

table.ContentsList {
}

table.ContentsList tr td img {
    border: 0;
}

table.SearchResults {
    width: auto;
}

table.SearchResults tr th {
    text-align: left;
}

table.SearchResults tr td img {
    border: 0;
}

table.Wizard {
    width: auto;
}

table.Wizard tr {
    vertical-align: top;
}

table.Wizard tr th {
    text-align: right;
}

div.NewsBar {
    text-align: right;
}

table.NewsItems {
    border: 0;
}


td.NewsBorder {
    background-color: #6699CC;
}

td.NewsListing {
    background-color: #6699CC;
    color:  #FFFFFF;
}

.NewsLeadin {
    background-color: #FFFFFF;
    color:  #6699CC;
}

.NewsByLine {
    background-color:  #6699CC;
    color:  #FFFFFF;
}

.NewsDateline {
    background-color:  #6699CC;
    color:  #FFFFFF;
}

td.NewsTitle {
    background-color: #6699CC;
    color: #FFFFFF;
    text-align: center;
    font-size: 90%;
    font-weight: bold;
}

tr.NewsItemRow td {
    background-color: #AAAAAA;
    font-size: 70%;
}

p.NewsHeadline {
    background-color:  #6699CC;
}
td.ListName {
    background-color:  #6699CC;
    color: #FFFFFF;
    font-weight: bold;
}
td.ListDefinition {
    font-style: italic;
}